[submodule "luicomponents/tests/jsonschema/JSON-Schema-Test-Suite"]
    path = luicomponents/tests/jsonschema/JSON-Schema-Test-Suite
    url = https://github.com/json-schema-org/JSON-Schema-Test-Suite.git
[submodule "use/fpGUI"]
	path = use/fpGUI
	url = git@github.com:graemeg/fpGUI.git
[submodule "use/fptest"]
	path = use/fptest
	url = git@github.com:graemeg/fptest.git
[submodule "use/handlebars.pascal"]
	path = use/handlebars.pascal
	url = git@github.com:blikblum/handlebars.pascal.git
