<h2 class="name-el"/>
<h3>Alta da Unidade</h3>
<form role="form">
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="discharge-date">Data</label>
            <div class="input-group">
            <input id="discharge-date" name="dischargedate" type="text" class="form-control  date-control"/>
            <span class="input-group-btn">
              <button class="btn btn-default settoday-action" type="button">Hoje</button>
             </span>
            </div>
            <span class="help-block hidden"></span>
        </div>
        <div class="form-group col-sm-6">
            <label for="discharge-reasonid">Motivo</label>
            <select id="discharge-reasonid" name="dischargereasonid" class="form-control"></select>
            <span class="help-block hidden"></span>
        </div>
    </div>
</form>
<hr/>
<div class="alert alert-danger hidden" role="alert"></div>
<button type="button" class="btn btn-default cancel">Cancelar</button>
<button type="button" class="btn btn-primary save-model">Salvar</button>

