<td>{{name}}</td>
<td></td>
<td>
  <a href="#/patients/{{id}}"><span class="glyphicon glyphicon-edit"></span></a>
  <a href="#/patients/{{id}}/evaluations"><span class="glyphicon glyphicon-list-alt"></span></a>
</td>


