     <div class="row">
        <div class="col-md-12">
            <h3>Pacientes
                <a href="#" class="btn btn-primary btn-sm pull-right add-popover" data-placement="bottom" data-toggle="popover" data-title="Insira o registro" type="button" data-html="true"><span class="glyphicon glyphicon-plus-sign"></span> Adicionar</a>
            </h3>
            <div class="hide add-popover-content">
                <form role="form">
                    <div class="form-group">
                        <input type="number" class="form-control patient-registry" placeholder="Registro">
                    </div>
                    <button type="submit" class="btn btn-primary add-patient">Admitir</button>
                </form>
            </div>
        </div>
    </div>

    <table id="patients-table" class="table table-hover">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>

