<td>{{name}}<br/><span class="glyphicon glyphicon-list-alt"></span><a href="#/patients/{{id}}/evaluations"> Avaliações</a></td>
<td>
  <span class="glyphicon glyphicon-edit"></span><a href="#/patients/{{id}}/edit"> Editar</a> &nbsp
</td>


