<td>{{name}}<br/><a href="#/patients/{{id}}/evaluations">{{pluralCount evaluationcount 'avaliação' 'avaliações'}}</a></td>
<td>
  <span class="glyphicon glyphicon-edit"></span><a href="#/patients/{{id}}/edit"> Editar</a> &nbsp
</td>


