<h2 class="title-el"/>

<form role="form">
  <fieldset>
    <legend>Cadastro</legend>
  <div class="row">
      <div class="form-group col-xs-6 col-sm-3">
        <label for="patient-registry">Registro</label>
        <input id="patient-registry" name="registry" type="text" class="form-control" disabled/>
          <span class="help-block hidden"></span>
      </div>
      <div class="form-group col-xs-6 col-sm-3">
          <label for="patient-bednumber">Leito</label>
          <input id="patient-bednumber" name="bednumber" type="number" class="form-control"/>
      </div>
      <div class="form-group col-xs-12 col-sm-6">
        <label for="patient-name">Nome</label>
        <input id="patient-name" name="name" type="text" class="form-control"/>
          <span class="help-block hidden"></span>
      </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-4">
      <label for="patient-birthdate">Data de Nascimento</label>
      <input id="patient-birthdate" name="birthdate" type="text" class="form-control date-control"/>
        <span class="help-block hidden"></span>
    </div>
    <div class="form-group col-sm-4">
      <label for="patient-gender">Gênero</label>
      <select id="patient-gender" name="gender" class="form-control"></select>
    </div>
  </div>
  </fieldset>
  <fieldset>
    <legend>Dados do Internamento</legend>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="patient-originationid">Origem</label>
        <select id="patient-originationid" name="originationid"  class="form-control"></select>
          <span class="help-block hidden"></span>
      </div>
        <div class="col-sm-4">
            <label for="patient-internmentdate">Data de Internamento</label>
            <div class="input-group">
            <input id="patient-internmentdate" name="internmentdate" type="text" class="form-control date-control"/>
            <span class="input-group-btn">
              <button class="btn btn-default settoday-el" type="button">Hoje</button>
             </span>
            </div><!-- /input-group -->
            <span class="help-block hidden"></span>
        </div>
      <div class="form-group col-sm-4">
        <label for="patient-internmenttypeid">Tipo de Internamento</label>
        <select id="patient-internmenttypeid" name="internmenttypeid" class="form-control"></select>
          <span class="help-block hidden"></span>
      </div>
    </div>
  <div class="checkbox">
    <label> <input type="checkbox" name="isreinternment"/>Reinternamento</label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"name="isreinternment48h"/>Reinternamento em 48h</label>
  </div>
  </fieldset>
  <fieldset>
    <legend>Dados Clínicos</legend>
  <div class="row">
  <div class="form-group col-sm-4">
    <label for="patient-diagnosticid">Diagnóstico</label>
    <select id="patient-diagnosticid" name="diagnosticid" class="form-control"></select>
      <span class="help-block hidden"></span>
  </div>
  <div class="form-group col-xs-6 col-sm-4">
    <label for="patient-saps3">SAPS3</label>
    <input id="patient-saps3" name="saps3" type="number" class="form-control"/>
  </div>
  </div>
    <label>Comorbidades</label>
    <div class="row">
    <div class="col-md-3">
        <div class="checkbox">
            <label>
                <input name="hasicc" type="checkbox"/>ICC</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="hasirc" type="checkbox"/>IRC</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="hasdcpf" type="checkbox"/>DCPF</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="hasdpoc" type="checkbox"/>DPOC</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="hashematologytumor" type="checkbox"/>Tumor Hematológico</label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="checkbox">
            <label>
                <input name="haslocoregionaltumor" type="checkbox"/>Tumor Locoregional</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="hasmetastasis" type="checkbox"/>Metástase</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="hashas" type="checkbox"/>HAS</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="hasdm" type="checkbox"/>DM</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="haspreviousiam" type="checkbox"/>IAM Prévio</label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="checkbox">
            <label>
                <input name="hasavc" type="checkbox"/>AVC</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="hasvisualdeficit" type="checkbox"/>Deficit Visual</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="hasauditorydeficit" type="checkbox"/>Deficit Auditivo</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="hasdementia" type="checkbox"/>Demência</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="hasalcoholism" type="checkbox"/>Alcoolismo</label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="checkbox">
            <label>
                <input name="hassmoking" type="checkbox"/>Tabagismo</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="hasimmunosuppression" type="checkbox"/>Imunosupressão</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="hassida" type="checkbox"/>SIDA</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="hasrheumaticdisorder" type="checkbox"/>Doença Reumática</label>
        </div>
        <div class="checkbox">
            <label>
                <input name="haspsychiatricdisorder" type="checkbox"/>Doença Psiquiátrica</label>
        </div>
    </div>
    </div>
  </fieldset>

</form>
<hr/>
<div class="alert alert-danger hidden" role="alert"></div>
<button type="button" class="btn btn-default cancel">Cancelar</button>
<button type="button" class="btn btn-primary save-model">Salvar</button>

