<div class="panel panel-default">
  <div class="panel-heading">
    <strong class="panel-title">Pacientes</strong>  <a href="#patients/add" class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Admitir Paciente</a>
  </div>
  <div class="panel-body">
    <table id="patients-table" class="table table-hover">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

